#form {
    width: 150px;
    margin: 0 auto;
    height: 100px;
  }
  
  #form p {
    text-align: center;
    color: black;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: gray;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

h1 {
 text-align: center;
  color: white;
}

h3 {
 text-align: center;	
  color: white;
}

h4 {
text-align: center;	
  color: white;
}

p {
	color:black;
}