#form {
    width: 150px;
    margin: 0 auto;
    height: 100px;
  }
  
  #form p {
    text-align: center;
    color: black;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: gray;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
 
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

h1 {
 text-align: center;
  color: white;
}

h3 {
 text-align: center;	
  color: white;
}

h4 {
text-align: center;	
  color: white;
}

p {
	color:white;
}

label {
  color:white;
}
#fecha {
  background: white;
  font-size: 30px;
  border-radius: 15px;
}

#descripcion {
  background:white ;
  font-size: 90px;
  border-radius: 15px;
  
}

#btContratar {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: white;
  background-color:#0075d9;;
  border-radius: 15px;
  border: 3px double #0075d9;;
}

label {
 font-size: 20px;

